# # apiVersion: apps/v1
# kind: StatefulSet
# metadata:
#   name: {{ .Release.Name }}-pd-user
# spec:
#   serviceName: {{ .Release.Name }}-pd-user
#   replicas: {{ .Values.pd-user.replicaCount }}
#   selector:
#     matchLabels:
#       app: {{ .Release.Name }}-pd-user
#   template:
#     metadata:
#       labels:
#         app: {{ .Release.Name }}-pd-user
#     spec:
#       containers:
#         - name: pd-user
#           image: "{{ .Values.pd-user.image.repository }}:{{ .Values.pd-user.image.tag }}"
#           ports:
#             - containerPort: 1389
#           env:
#             - name: SERVER_PROFILE_URL
#               value: "{{ .Values.pd-user.env.SERVER_PROFILE_URL }}"
#             - name: SERVER_PROFILE_PATH
#               value: "{{ .Values.pd-user.env.SERVER_PROFILE_PATH }}"
#           volumeMounts:
#             - name: pd-user-data
#               mountPath: /opt/out
#   volumeClaimTemplates:
#     - metadata:
#         name: pd-user-data
#       spec:
#         accessModes:
#           - ReadWriteOnce
#         resources:
#           requests:
#             storage: 10Gi
