pingfederate-admin:
  replicaCount: 1
  image:
    repository: pingidentity/pingfederate
    tag: latest
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1"
      memory: "2Gi"
  env:
    SERVER_PROFILE_URL: "https://github.com/akmal-fowmila/ciam-ping-serverprofile.git"
    SERVER_PROFILE_PATH: "pingfederate"
    OPERATIONAL_MODE: "CLUSTERED"
